* {
    padding: 0;
    margin: 10%;

    font-size: 62.5%;
}

#conteudo {
    margin: 10%;
}

h1 {
    align-items: center;
    margin-bottom: 5%;
    background-color: gray;
}

.alinhar {
    display: flex;
    justify-content: center;
    gap: 1.0rem;
}